<div class="items-info-contents">
  <header>
  <div class='main_title'>
    <%= link_to "Zaipy", "/" %>
  </div>
  </header>
  <div class="items-info-main">
    <h2 class="items-info-title">資材の情報を入力してください。</h2>
    <%= form_with model: @item, local: true do |f| %>

    <%= render 'shared/error_messages', model:f.object %>

    <%# 物資登録画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        外見画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックして写真をアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /物資登録画像 %>
    <%# 物資名と物資説明 %>
    <div class="new-items">
        <div class="weight-bold-text">
          資材名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"資材名（必須 20文字まで)", maxlength:"20" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          資材の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"資材の説明（必須 100文字まで）（色、重さ、注意点など）例）通年必須の紙袋です。在庫切れがあってはなりません。" ,rows:"7" ,maxlength:"100" %>
      </div>
    </div>
    <%# /物資名と物資説明 %>

    <%# 物資の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">カテゴリー
      <span class="indispensable">必須</span>
      </div>
      <div class="form">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <%# /物資の詳細 %>

    <%# 下部ボタン %>
    <div class="item-register-btn-contents">
      <%= f.submit "登録する", class:"item-register-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="item-registration-footer">
    <div class='second-footer-logo'>
    Zaipy
    </div>
    <p>© mizugorou2019</p>
  </footer>
</div>